.section{
    background-color: #101010;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.imgCard{
    overflow: hidden;
    padding: 0;
    height: 18rem;
    border:solid ;
    border-bottom: none;
    border-right: none;
    border-top-width: 3.5rem;
    border-left-width: 1.5rem;
}
.pinkBtn{
    background-color: #EC1E64;
}
.grid h3{
    display: inline-block;
    padding: 0;
    text-decoration: underline;
    text-transform: capitalize;
}
.grid{
    align-items: center;
    margin: 4rem 10vw;
    grid-row-gap: 8vh;
    grid-column-gap: 5vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.step{
    width: 10vw;
}
.text{
line-height: 1.7rem}


@media (min-width: 120px) {
    .section {
        padding: 20px 20px;
    }
    .text{
        max-width: 90%;
    }
}

@media (min-width: 567px) {
    .card p {
        max-width: 50%;
    }
    .img {
        min-width: 90px;
    }
    .section {
        padding: 20px 20px;
    }
    .text{
        max-width: 70%;
    }
}

@media (min-width: 768px) {
    .card p {
        max-width: 100%;
    }
    .img {
        min-width: 50px;
    }
    .section {
        padding: 20px 40px;
    }
    .text{
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .section {
        padding: 120px 80px;
    }
}