.container {
    background-image: url('/public/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    padding: 120px 80px;
    padding-top: 20px;
}


.step {
    margin-top: 11rem;
}

.flex {
    display: flex;
}

.heroText {
    margin-top: 5rem;
}

@media (max-width: 576px) {
    .heroText {
        margin-top: 1rem;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 20px 60px;
    }
}


.step {
    color: #686868;
    margin-top: 5.75rem;
}

.bannerText {
    margin-top: 10rem;
    text-align: left;
    color: #fff;
    font-weight: 500;
    font-family: helvetica;
    text-transform: capitalize;
}


.scrollImg {
    position: fixed;
    top: 70vh;
    right: 0;
    padding-right: 80px;
}


.heroSpace {
    width: 10vw;
}