.container {
    background-image: url('/public/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    padding: 0 80px;
    padding-top: 20px;
}

.list {
    margin-right: 4rem;
}

.heroCard {
    padding: 0;
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
}

.step {
    width: 10vw;
    margin-top: 11rem;
}

.flex {
    display: flex;
}

.heroText {
    color: #686868;
    width: 18rem;
    /*margin-right: 10rem;*/
}

.flex h1 {
    margin-top: 10rem;
    text-align: left;
    color: #fff;
    font-weight: 500;
    font-family: helvetica;
    text-transform: capitalize;
    width: 50vw;
}

.listItem {
    line-height: 1.5rem;
    text-transform: capitalize;

}

.scrollImg {
    position: fixed;
    top: 70vh;
    right:0;
    padding-right:80px;

}


.step {
    color: #686868;
    margin-top: 11rem;
}

.heroSpace {
    width: 10vw;
}