.container{
    display: flex;
    max-width: 100vw;
}

.img{
    cursor: pointer;
}
.container img{
    object-fit: contain;
}
/*.flexLeft{*/
/*    width: 25vw;*/
/*    */
/*}*/
.flexRight{
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    /*width: 75vw;*/
    display: flex;
}
.contact{
    font-size: .8rem;
}
.menu{
    text-transform: capitalize;
    font-size: .8rem;
    line-height: 2rem;
}
.address{
    margin-top: .3rem;
    line-height: 1.5rem;
    display: block;
}
.email{
    display: inline-block;
    color: #EC1E64;
    border-bottom: .2px solid #EC1E64;
    padding-bottom: 0;
}
.social{
    width: 20%;
    text-transform: capitalize;
    color: #686868;
    font-size: .8rem;
    line-height: 1.7rem;
}


@media (min-width: 120px) {
    .container {
        padding: 20px 20px;
    }
}

@media (min-width: 576px) {
    .container {
        padding: 20px 20px;
    }

}

@media (min-width: 768px) {

    .container {
        padding: 20px 40px;
    }
}
@media (min-width: 992px) {
    .container {
        padding: 120px 80px;
    }

}