.section{
    background-color: #202020;
}
.container{
    margin: 0 auto;
    display: flex;
    max-width: 90vw;
}
.h2{
    width: 36vw;
}
.step {
    width: 10vw;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}.right{
    width: 35vw;
}
.text{
    padding-right: 1rem;
}
.desc h3{
    padding-top: 1rem;
    display: inline-block;
    line-height: 1.1rem;
    text-decoration: underline;
}
.cardHeading {
    width: 20vw;
    color: grey;
    position: absolute;
    font-size: .6rem;
    display: flex;
    justify-content: space-around;
}
.intro {
    font-size: .9rem;
    line-height: 1.7rem;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    width: 32vw;
}
.pinkBtn {
    background-color: #EC1E64;
}
.cards {
    width: 65vw;
    margin: 0 15vw;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.small {
    width: 20rem;
}
.big {
    width: 25rem;
}
.card {  
    overflow: hidden;
    padding: none;
    height: 23rem;
    border:solid ;
    border-bottom: none;
    border-right: none;
    border-top-width: 3.5rem;
    border-left-width: 1.5rem;
}