.container{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101010;
  width: 100vw;
  padding: 20px 80px;
  z-index: 20;
}
.pinkBtn{
    background-color: #EC1E64;
    margin-left: 5vw;
  }
  .list{
    width: 40vw;
    padding-left: 0; 
  }
  .grey{
    color: #686868;
    font-size: .7rem;
  }
  .imgContainer{
    width: 10vw;
  }
  .img{
    object-fit: contain;
  }
  .listItem{
    cursor: pointer;
    text-transform: capitalize;
    display: inline;
    list-style: none;
    font-size: .8rem;
    font-weight: 500;
    margin-right: 1.3rem;
  }
  .menuLeft{
    display: flex;
  }
  .menuList{
    padding-left: 0 !important;
  }